
material-icons{
    font-size: 135px
}
.fa-solid{
    color: black;
    animation: icon-move 500ms;
    font-size: 2rem;
    font-weight: bold;

}

.colchetes{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 75px 0;
}
.right{
    position: relative;
    padding-bottom: 5px;
    animation: menor 2s ease-in infinite;


}
.left{
    position: relative;
    animation: maior 2s ease-in  infinite;

}
.componentes{
    width: 106.85px;
    height: 26.86px;
    background: #D9D9D9;
}
.braco1{
    transform: rotate(135deg);
}
.braco2{
    transform: rotate(45deg) translateY(50px) translateX(46.6px);
}
.braco1-2{
    transform: rotate(47deg);}
.braco2-2{
    transform: rotate(490deg) translate(55px, -50px);
}
.barra{
    width: 240px;
    transform: translate(-140px, 75px) rotate(455deg);
}
.arrow-back{
    font-size: 7rem;
    font-weight: bold;
    position: relative;
    animation: maior 2s ease-in  infinite;
    left: -51px;
}
.arrow-foward{
    font-size: 7rem;
    font-weight: bold;
    position: relative;
    left: 85px;
    animation: menor 2s ease-in  infinite;
    text-align: right;
    z-index: 90;
}
@keyframes maior {
    0%{
        left: -51px;
    }
    25%{
        left: 38px;
    }
    50%{
        left: 38px;
    }
    100%{
        left: -51px;
    }
}
@keyframes menor {
    0%{
        left:85px
    }
    25%{
        left: -45px;
    }
    50%{
        left: -45px;
    }
    100%{
        left:85px
    }
}
@keyframes barra-appear {
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}
.barra{
    position: relative;
    bottom: 20px;
    left: -20px;
    font-size: 7rem;
    animation: barra-appear 2.0s linear infinite;
    opacity: 0;

}