
.material-icons{
    font-size: 135px
}
.fa-bacterium{
    top:10%;
    left: 30%;
    color: green;
    animation: icon-move 500ms;
}
.colchetes{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 75px 0;
}
.right{
    position: relative;
    padding-bottom: 5px;
    animation: menor 2s ease-in infinite;


}
.left{
    position: relative;
    animation: maior 2s ease-in  infinite;

}
.componentes{
    width: 106.85px;
    height: 26.86px;
    background: #D9D9D9;
}
.braco1{
    transform: rotate(135deg);
}
.braco2{
    transform: rotate(45deg) translateY(50px) translateX(46.6px);
}
.braco1-2{
    transform: rotate(47deg);}
.braco2-2{
    transform: rotate(490deg) translate(55px, -50px);
}
.barra{
    width: 240px;
    transform: translate(-140px, 75px) rotate(455deg);
}
/*
@keyframes maior {
    0%{
        left:0%
    }
    25%{
        left:35%
    }
    50%{
        left:35%
    }
    100%{
        left:0%
    }
}
@keyframes menor {
    0%{
        right:0%
    }
    25%{
        right:25%
    }
    50%{
        right:25%
    }
    100%{
        right:0%
    }
}