
material-icons{
    font-size: 135px
}
.icones{
    display: none;    
    position: absolute;
    left: 46%;
    top: 13%;

}
.fa-solid{
    color: black;
    animation: icon-move 500ms;
    font-size: 5rem;
    font-weight: bold;
}

.colchetes{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 75px 0;
}
.right{
    position: relative;
    padding-bottom: 5px;
    animation: menor 2s ease-in infinite;


}
.left{
    position: relative;
    animation: maior 2s ease-in  infinite;

}
.componentes{
    width: 106.85px;
    height: 26.86px;
    background: #D9D9D9;
}
.braco1{
    transform: rotate(135deg);
}
.braco2{
    transform: rotate(45deg) translateY(50px) translateX(46.6px);
}
.braco1-2{
    transform: rotate(47deg);}
.braco2-2{
    transform: rotate(490deg) translate(55px, -50px);
}
