/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

.cabecalho {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 99;
}

.cabecalho__container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 10px 35px;
}

.sticky {
  position: fixed;
  border-bottom: 2px solid #002f5e;
  padding: 5px 0;
}

.menu {
  width: 60%;
}

.menu__items {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.menu__item {
  list-style: none;
}

.menu__link {
  font-size: 1rem;
  font-weight: bolder;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  padding: 0 5px;
}

/*
.menu__link::after{
    content: "";
    display: block;
    border-bottom: 2px solid #EF5B0C;
    transform: scaleX(0);
    transition: 250ms transform ease-in;
}

.menu__item:hover .menu__link{
    transform: scaleX(1);
    transform-origin: 0% 50%;
}
*/
.menu__item:hover .menu__link {
  border-bottom: 3px #ff5900 solid;
}

.material-icons {
  font-size: 35px;
}

.header__btn {
  background: none;
  border: none;
  cursor: pointer;
}

.logo {
  width: 50px;
  height: 50px;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px 0;
  z-index: 10;
  /*
  background: linear-gradient(-45deg, rgba(255,233,50,1) 0%, rgba(255,221,0,1) 20%, rgba(255,195,0,1) 40%, rgba(255,170,0,1) 60%, rgba(255,149,0,1) 80%, rgba(255,123,0,1) 100%);
  background: linear-gradient(45deg, rgba(1,0,123,1) 0%, rgba(0,0,85,1) 20%, rgba(0,0,49,1) 40%, rgba(0,0,35,1) 60%, rgba(0,25,59,1) 80%, rgba(0,19,45,1) 100%);
  background: linear-gradient(45deg, rgba(246,249,254,1) 0%, rgba(243,247,255,1) 20%, rgba(238,245,255,1) 40%, rgba(237,242,255,1) 60%, rgba(229,238,255,1) 80%);
  color: black
  background: eef5ff;
  */
  background-size: 200% 200%;
  z-index: -1;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 20% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 20% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 20% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 20% 50%;
  }
}
/* #dddf00, #d4d700, 
    #bfd200,#aacc00,#80b918,#2b9348*/
.banner__container {
  width: 1200px;
  display: flex;
}

.banner__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  line-height: 1.5;
  position: relative;
}

.banner__text {
  text-align: start;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.5;
}

.banner__text:nth-child(1) {
  font-size: 5rem;
}

.banner__text:nth-child(2) {
  padding: 0 2px;
}

.text__animation {
  opacity: 1;
  text-align: start;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.5;
  transition: opacity 500ms;
}

.fade {
  opacity: 0;
}

.name {
  color: rgb(255, 208, 1);
}

.dark {
  background-color: #63a4ff;
  color: #f8f9fa;
  border-bottom-color: #f8f9fa;
  position: relative;
  -webkit-animation: moviment-ball-dark 30s infinite ease;
          animation: moviment-ball-dark 30s infinite ease;
}

.light {
  background-color: #f8f9fa;
  color: #002355;
  border-bottom-color: #002355;
}

.banner__animation {
  filter: blur(150px);
}
.banner__animation .ball__animation {
  width: 200px;
  height: 200px;
  position: absolute;
  border-radius: 50%;
}
.banner__animation .light {
  border: 2px solid #fb8500;
  background-color: #eb7d00;
  left: 200px;
  top: 20px;
  -webkit-animation: moviment-ball-light 30s infinite ease;
          animation: moviment-ball-light 30s infinite ease;
}

@-webkit-keyframes moviment-ball-dark {
  0% {
    left: 500px;
    top: 0px;
  }
  25% {
    left: 100px;
    top: 70px;
  }
  50% {
    left: 100px;
    top: 70px;
  }
  100% {
    left: 500px;
    top: 0px;
  }
}

@keyframes moviment-ball-dark {
  0% {
    left: 500px;
    top: 0px;
  }
  25% {
    left: 100px;
    top: 70px;
  }
  50% {
    left: 100px;
    top: 70px;
  }
  100% {
    left: 500px;
    top: 0px;
  }
}
@-webkit-keyframes moviment-ball-light {
  0% {
    left: -50px;
    top: -109px;
  }
  50% {
    top: 0px;
  }
  100% {
    top: 100px;
  }
}
@keyframes moviment-ball-light {
  0% {
    left: -50px;
    top: -109px;
  }
  50% {
    top: 0px;
  }
  100% {
    top: 100px;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
    top: 0px;
  }
  100% {
    opacity: 0;
    top: 10px;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
    top: 0px;
  }
  100% {
    opacity: 0;
    top: 10px;
  }
}
.section-header {
  padding: 70px 0 40px 0;
  display: flex;
  z-index: 1;
}
.section-header .title {
  font-size: 2rem;
  font-weight: bold;
  width: 20%;
  padding: 10px 20px;
  border-bottom: 2px solid orange;
  position: relative;
  letter-spacing: 2px;
}
.section-header .title::before {
  content: "";
  position: absolute;
  border: 2px solid orange;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: orange;
  top: 2.8rem;
  left: -1px;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

.aboutme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: inherit;
  z-index: 9;
}
.aboutme .section-header {
  display: flex;
  justify-content: flex-start;
}
.aboutme .aboutme__content {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.aboutme .aboutme__content .aboutme__image {
  background: url("../imagem/desenvolvedor.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 588px;
  width: 40%;
}
.aboutme .aboutme__content .aboutme__text {
  width: 50%;
  padding: 50px 10px;
}
.aboutme .aboutme__content .aboutme__text .text__paragraph {
  font-size: 1.2rem;
  line-height: 2;
  margin: 10px 0;
}
.aboutme .aboutme__content .aboutme__text .text__paragraph .text__name {
  font-weight: bold;
}
.aboutme .aboutme__content .aboutme__text .btn__link {
  position: relative;
  width: 48%;
  border: 2px solid orange;
  display: block;
  padding: 15px;
  font-size: 1.3rem;
  color: orange;
  z-index: 3;
  text-decoration: none;
  text-transform: uppercase;
  margin: 1rem 0;
}
.aboutme .aboutme__content .aboutme__text .btn__link .icon__curriculum {
  margin: 0px 5px;
  font-size: 2rem;
  color: orange;
}
.aboutme .aboutme__content .aboutme__text .btn__link::before {
  content: "";
  display: inline;
  position: absolute;
  width: 100%;
  top: 0%;
  right: 0%;
  height: 0px;
  background-color: orange;
  z-index: -1;
  transition: all 300ms linear;
}
.aboutme .aboutme__content .aboutme__text .btn__link:hover {
  color: white;
}
.aboutme .aboutme__content .aboutme__text .btn__link:hover .icon__curriculum {
  color: white;
}
.aboutme .aboutme__content .aboutme__text .btn__link:hover::before {
  height: 100%;
  -webkit-animation: background-btn 300ms linear;
          animation: background-btn 300ms linear;
}

@-webkit-keyframes background-btn {
  0% {
    height: 0px;
  }
  100% {
    height: 42px;
  }
}

@keyframes background-btn {
  0% {
    height: 0px;
  }
  100% {
    height: 42px;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

.skills {
  padding-bottom: 50px;
}
.skills .section-header {
  display: flex;
  justify-content: flex-end;
}
.skills .tools {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0 25px;
}
.skills .tools .tools__paragraph {
  font-size: 1.2rem;
}
.skills .tools .tools__list {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.skills .tools .tools__list .tools__item {
  margin: 10px 0;
}
.skills .tools .tools__list .tools__item .item__legend {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  font-size: 1.3rem;
  text-transform: uppercase;
  padding-left: 5px;
  font-weight: bold;
}
.skills .tools .tools__list .tools__item .item__bar {
  width: 100%;
  background-color: #e1e1e1;
  border: 2px solid black;
  height: 1rem;
  border-radius: 15px;
}
.skills .tools .tools__list .tools__item .item__bar .bar__progress {
  background-color: orange;
  height: 12px;
  border: 2px solid orange;
  border-radius: 15px;
  width: 0px;
  opacity: 0;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

.projects .projects__content {
  display: flex;
  justify-content: center;
}
.projects .projects__content .section-header {
  display: flex;
  justify-content: flex-start;
}
.projects .projects__content .projects__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  row-gap: 30px;
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding: 15px 0;
}
.projects .projects__content .projects__list .project__item {
  width: 30%;
  border: 4px solid orange;
  transition: all 200ms ease-in-out;
}
.projects .projects__content .projects__list .project__item:hover {
  border: 5px solid orange;
}
.projects .projects__content .projects__list .project__item .project__imagem {
  background-image: url("../imagem/projetos/projeto.jpeg");
  background-size: cover;
  width: 100%;
  height: 270px;
  margin: 0 auto;
  border-bottom: 3px solid orange;
}
.projects .projects__content .projects__list .project__item .project__text {
  padding: 0 15px;
}
.projects .projects__content .projects__list .project__item .project__text .project__name {
  font-size: 1.2rem;
  margin: 15px 0;
  font-weight: bold;
}
.projects .projects__content .projects__list .project__item .project__text .project__description {
  margin: 15px 0;
  text-align: justify;
}
.projects .projects__content .projects__list .project__item .project__text .project__link {
  display: flex;
  justify-content: space-around;
  margin: 15px;
}
.projects .projects__content .projects__list .project__item .project__text .btn__link {
  border: 2px solid orange;
  display: block;
  font-size: 1rem;
  padding: 10px;
  z-index: 3;
  text-decoration: none;
  margin: 1rem 0;
  position: relative;
}
.projects .projects__content .projects__list .project__item .project__text .btn__link::before {
  content: "";
  display: inline;
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 0px;
  background-color: orange;
  transition: all 500ms ease-out;
  z-index: -1;
}
.projects .projects__content .projects__list .project__item .project__text .btn__link:hover::before {
  height: 100%;
  -webkit-animation: background-btn 500ms ease-in;
          animation: background-btn 500ms ease-in;
}

@keyframes background-btn {
  0% {
    height: 0px;
  }
  100% {
    height: 100%;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

.contact {
  padding-bottom: 25px;
}
.contact .section-header {
  display: flex;
  justify-content: flex-end;
}
.contact .contact__list {
  display: flex;
  justify-content: space-around;
  -moz-column-gap: 2px;
       column-gap: 2px;
  padding: 20px 0;
}
.contact .contact__list .contact__icon-container {
  width: 65px;
  height: 65px;
  text-align: center;
  background-color: orange;
  border-radius: 50%;
}
.contact .contact__list .contact__icon-container .contact__icon {
  margin-top: 15px;
  color: white;
  font-size: 2rem;
}
.contact .contact__list .contact__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  transition: all 500ms ease;
  padding: 0 15px;
}
.contact .contact__list .contact__item .contact__title {
  margin: 15px 0;
  font-size: 1.3rem;
  font-weight: bold;
}
.contact .contact__list .contact__item:hover {
  transform: scale(1.2);
}
.section-enter {
  -webkit-animation: fadein 1s ease-in-out;
          animation: fadein 1s ease-in-out;
  opacity: 1;
}

.section-out {
  -webkit-animation: fadeout 1s ease-in-out;
          animation: fadeout 1s ease-in-out;
  opacity: 0;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.footer {
  width: 100vw;
  padding: 5px 0;
  text-align: center;
  background-color: orange;
}
.footer .footer__text {
  margin: 15px 0;
  font-size: 1.2rem;
  font-weight: bolder;
}

html {
  font-family: "Open Sans", sans-serif;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 100vw;
  padding-top: 170px;
}

.content__container {
  width: 1200px;
  margin: 0 auto;
}

section:not(.banner) {
  width: 100%;
}

.light_mode {
  color: #002f5e;
  background-color: #f8f9fa;
}

.dark_mode {
  color: #f8f9fa;
  background-color: #002f5e;
}/*# sourceMappingURL=style.css.map */