.banner{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 0;
    background-color: rgb(236, 236, 243);   
    background-size: 200% 200%;
    animation: gradient 15s ease infinite;

}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
/* #dddf00, #d4d700, 
    #bfd200,#aacc00,#80b918,#2b9348*/
.banner__container{
    width:1200px;
    display: flex;
    justify-content: space-around;
}
.banner__content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 1.5;
    width: 45%;
}
.content__title{
    text-align: start;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.5;
    
}
.content__title:nth-child(2){
    text-align: start;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.5;

}

.name{
    color:#f79d5c
}
.banner__animation{
    position: relative;
    width: 40%;
    text-align: center;
}