.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 0;
    z-index: 10;
    /*
    background: linear-gradient(-45deg, rgba(255,233,50,1) 0%, rgba(255,221,0,1) 20%, rgba(255,195,0,1) 40%, rgba(255,170,0,1) 60%, rgba(255,149,0,1) 80%, rgba(255,123,0,1) 100%);
    background: linear-gradient(45deg, rgba(1,0,123,1) 0%, rgba(0,0,85,1) 20%, rgba(0,0,49,1) 40%, rgba(0,0,35,1) 60%, rgba(0,25,59,1) 80%, rgba(0,19,45,1) 100%);
    background: linear-gradient(45deg, rgba(246,249,254,1) 0%, rgba(243,247,255,1) 20%, rgba(238,245,255,1) 40%, rgba(237,242,255,1) 60%, rgba(229,238,255,1) 80%);
    color: black
    background: eef5ff;
    */
    background-size: 200% 200%;
    z-index:-1;

}

@keyframes gradient {
    0% {
        background-position: 20% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 20% 50%;
    }
}
/* #dddf00, #d4d700, 
    #bfd200,#aacc00,#80b918,#2b9348*/
.banner__container{
    width:1200px;
    display: flex;
}
.banner__content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 1.5;
    position: relative;
}
.banner__text{
    text-align: start;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.5;
}
.banner__text:nth-child(1){
    font-size: 5rem;
}
.banner__text:nth-child(2){
    padding: 0 2px;
}
.text__animation{
    opacity: 1;
    text-align: start;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.5;
    transition: opacity 500ms;

}

.fade {
    opacity: 0;
}

.name{
    color: rgb(255, 208, 1);
}
.dark{
    background-color:  #63a4ff;
    color:#f8f9fa;
    border-bottom-color: #f8f9fa;
    position: relative;
    animation: moviment-ball-dark 30s infinite ease;
}
.light{
    background-color:  #f8f9fa;
    color:#002355;
    border-bottom-color:#002355;



}
.banner__animation{
    filter: blur(150px);
    .ball__animation{
        width: 200px;
        height: 200px;
        position: absolute;
        border-radius: 50%;
        
    }
    .light{
        border:2px solid #fb8500;
        background-color: #eb7d00;
        left:200px;
        top:20px;
        animation: moviment-ball-light 30s infinite ease;
    }

}
@keyframes moviment-ball-dark {
    0%{
        left: 500px;
        top: 0px;
    }
    25%{
        left:100px;
        top:70px;
    }
    50%{
        left:100px;
        top:70px;
    }
    100%{
        left: 500px;
        top: -0px;
    }
}
@keyframes moviment-ball-light {
    0%{
        left:-50px;
        top:-109px;
    }
    50%{
        top:0px;
    }
    100%{
        top:100px;
    }
}
@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes fade-out {
    0%{
        opacity: 1;
        top: 0px;
    }
    100%{
        opacity:0;
        top: 10px;

    }
}