.btn__backtop{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    font-size: 2.3rem;
    background-color: green;
    color: aliceblue;
    font-weight: bold;
    outline:none;
    border: none;
}