.footer{
    width: 100vw;
    padding: 5px 0;
    text-align: center;
    background-color: orange;
    .footer__text{
        margin: 15px 0;
        font-size: 1.2rem;
        font-weight: bolder;
    }
}
