.section-header{
    padding:40px 0;
    display: flex;
    z-index: 1;
    .title{
        font-size: 2rem;
        font-weight: bold;
        width: 20%;
        padding: 10px 20px;
        border-bottom: 2px solid orange;
        position: relative;
        letter-spacing: 2px;
        &::before{
            content: "";
            position: absolute;
            border: 2px solid orange;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: orange;
            top: 2.8rem;
            left: -1px;
        }
    }
}
